.news-card {
  background: var(--theme-form);
  border: 1px solid var(--dark-theme-border-color);
  border-radius: var(--border-radius);
  margin: 2rem;
  box-shadow: 10px 5px 5px var(--card-box-shadow-color);
  color: var(--light-theme-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-container {
    background-color: #626b7ab3;
  }
}

.news-header {
  background-color: #989696;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
  width: 100%;
  color: var(--text-font-color);
  width: 100%;
  letter-spacing: var(--letter-spacing-2);
  text-transform: uppercase;
}

.news-body {
  padding: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  img {
    height: 20rem;
    width: 15rem;
    flex-grow: 1;
  }

  .news-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
    flex-grow: 10;

    p {
      text-transform: capitalize;
    }
  }
}

.new-item-button-container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 48rem) {
  .news-body {
    flex-direction: column;
    align-items: center;
  }

  .news-details {
    align-items: center;
  }

  .new-item-button-container {
    flex-direction: column;
  }
}
