.news-card {
  background-color: rgb(255, 251, 251);
  border: 1px solid black;
  border-radius: 0.25rem;
  margin: 1rem;
}

.news-header {
  background-color: #989696;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
}

.news-body {
  padding: 1.25rem;
}

.news-title {
  margin-bottom: 0.75rem;
}
