:root {
  --theme: #0d192e;
  --theme-form: #122647;
  --light-theme-font-color: #ffffff;
  --light-theme-background-color: #ffffff;
  --light-button-border-color: #c0bdbd;

  --dark-theme-border-color: #000000;

  --text-font-color: #000000;
  --border-radius: 0.25rem;
  --letter-spacing-2: 2px;
  --card-box-shadow-color: #808080;
}
