select {
  margin: 1rem;
  width: 20%;
  height: 2rem;
  border: 3px solid var(--dark-theme-border-color);
  color: var(--text-font-color);
  font-style: italic;
  letter-spacing: var(--letter-spacing-2);
  text-transform: uppercase;
}
