.board-content {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

@media screen and (max-width: 48rem) {
  .board-content {
    flex-direction: column;
  }
}
